.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.header-btn-animation {
  position: relative;
  transition: background-color 0.3s;
  overflow: hidden;
  z-index: 0;
}
.header-btn-animation::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
  z-index: -1;
}
.header-btn-animation:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.section-heading {
  position: relative;
  margin-bottom: 2em;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #1755e7;
  letter-spacing: 2px;
}

.section-padding {
  padding: 6em 2em;
}

@media (min-width: 768px) {
  .section-heading {
    font-size: 3.6rem;
  }
  .section-padding {
    padding: 8em 2em;
  }
}
@media (min-width: 992px) {
  .section-heading {
    font-size: 4.8rem;
  }
  .section-padding {
    padding: 10em 2em;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

.burger-btn {
  position: fixed;
  bottom: 30px;
  right: 20px;
  padding: 1.2em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 1000;
}
.burger-btn:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}
.burger-btn:hover .burger-btn__bars,
.burger-btn:hover .burger-btn__bars::after,
.burger-btn:hover .burger-btn__bars::before {
  width: 100%;
}
.burger-btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}
.burger-btn__bars, .burger-btn__bars::before, .burger-btn__bars::after {
  position: absolute;
  right: 0;
  height: 3px;
  content: "";
  background-color: #fff;
  transition: width 0.3s;
}
.burger-btn__bars {
  width: 100%;
  bottom: 0;
}
.burger-btn__bars::after {
  bottom: 13px;
  width: 60%;
}
.burger-btn__bars::before {
  bottom: 27px;
  width: 30%;
  transition-delay: 0.1s;
}

.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  transform: translateX(100%);
  transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  background-image: linear-gradient(45deg, rgb(20, 105, 241), rgb(42, 10, 184));
  z-index: 100;
}
.nav--active {
  transform: translateX(0);
}
.nav__item {
  position: relative;
  display: block;
  color: #fff;
  text-decoration: none;
  margin: 0.5em 0;
  padding: 0.6em 1.6em;
  font-size: 4rem;
}
.nav__item::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 75%;
  transform: scaleY(0);
  background-color: #fff;
  content: "";
  transition: transform 0.3s;
}
.nav__item:hover::before {
  transform: scaleY(1);
}

@keyframes navItemsAnimation {
  from {
    transform: translateX(340%);
  }
  to {
    transform: translateX(0);
  }
}
.nav-item-animation {
  animation: navItemsAnimation 1s both;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5em;
  height: 100vh;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(45deg, rgba(20, 105, 241, 0.35), rgba(42, 10, 184, 0.75)), url("../img/hero-img_640.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-attachment: scroll;
}
.header__logo {
  position: absolute;
  top: 30px;
  padding: 0 0.8em 0 0.4em;
  font-family: "Vina Sans", sans-serif;
  font-size: 6rem;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #2e2e2e;
  background: linear-gradient(45deg, rgba(20, 105, 241, 0.35), rgba(42, 10, 184, 0.75));
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.header__span {
  font-size: 3.2rem;
  text-transform: lowercase;
  color: #0fe29c;
}
.header__title {
  font-family: "Raleway", sans-serif;
  font-size: 4.4rem;
  font-weight: 300;
  text-shadow: 2px 2px 1px #2e2e2e;
}
.header__text {
  font-size: 1.5rem;
}
.header__btn {
  margin-top: 30px;
  padding: 0.8em 1.6em;
  font-size: 1.5rem;
  border: none;
  border-radius: 50px;
  box-shadow: 4px 4px 7px #2e2e2e;
  background: #fff;
  color: #2e2e2e;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.header__btn::before {
  background-color: #eee;
}

.about__box {
  display: flex;
  flex-direction: column;
  margin: 2em 0;
}
.about__img {
  width: 100%;
  margin-bottom: 1em;
}
.about__title {
  margin-bottom: 0.5em;
}
.about__text {
  font-size: 1.4rem;
}

.hero-img {
  position: relative;
  padding: 10em 2em;
  background-image: linear-gradient(45deg, rgba(20, 105, 241, 0.35), rgba(42, 10, 184, 0.75)), url("../img/hemp_640.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  color: #fff;
}
.hero-img__title {
  margin-bottom: 0.5em;
  font-family: "Raleway", sans-serif;
  font-size: 4.8rem;
  font-weight: 300;
  text-shadow: 2px 2px 1px #2e2e2e;
  letter-spacing: 2px;
}
.hero-img__text {
  padding: 1em 0;
}
.hero-img hr {
  margin: 0 auto;
}

.projects__card {
  position: relative;
  margin: 1em 0;
  height: 450px;
  color: #fff;
  text-align: center;
  perspective: 1000px;
}
.projects__card:hover .projects__card-img {
  transform: rotateY(-180deg);
  opacity: 0;
}
.projects__card:hover .projects__card-info {
  transform: rotateY(0);
  opacity: 1;
}
.projects__card-img {
  padding: 2em;
  height: 100%;
  border-radius: 10px;
  background-size: cover;
  transition: transform 1s, opacity 1s;
}
.projects__card-img--first {
  background-image: linear-gradient(45deg, rgba(20, 105, 241, 0.35), rgba(42, 10, 184, 0.75)), url("../img/insoles_0916.jpeg");
}
.projects__card-img--second {
  background-image: linear-gradient(45deg, rgba(20, 105, 241, 0.35), rgba(42, 10, 184, 0.75)), url("../img/cbd-oil_640.jpeg");
}
.projects__card-img--third {
  background-image: linear-gradient(45deg, rgba(20, 105, 241, 0.35), rgba(42, 10, 184, 0.75)), url("../img/textiles_640.jpeg");
}
.projects__card-img-title {
  font-family: "Raleway", sans-serif;
  font-size: 2.8rem;
}
.projects__card-img-info {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 1.4rem;
}
.projects__card-img-info i {
  margin-right: 0.3em;
}
.projects__card-info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: radial-gradient(circle at top right, rgb(0, 78, 255) 0%, rgb(0, 212, 255) 100%);
  border-radius: 10px;
  opacity: 0;
  transform: rotateY(180deg);
  transition: transform 1s, opacity 1s;
}
.projects__card-info-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 1.2em;
  font-family: "Raleway", sans-serif;
  font-size: 2.8rem;
}
.projects__card-info-list {
  margin: 0 auto;
  width: 70%;
  list-style: none;
}
.projects__card-info-list-item {
  padding: 1em;
  font-size: 1.4rem;
  border-bottom: 1px solid #eee;
}
.projects__card-info-list-item:last-child {
  border-bottom: none;
}
.projects__card-info-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2em;
  padding: 0.6em 1.2em;
  font-size: 1.5rem;
  border: none;
  border-radius: 50px;
  width: 60%;
  box-shadow: 4px 4px 7px #2e2e2e;
  background: #00ffaa;
  color: #2e2e2e;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.projects__card-info-btn::before {
  background-color: #0fe29c;
}

.shop-img {
  position: relative;
  padding: 10em 2em;
  background-image: linear-gradient(45deg, rgba(20, 105, 241, 0.35), rgba(42, 10, 184, 0.75)), url("../img/insoles_0916.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  color: #fff;
}
.shop-img__title {
  margin-bottom: 0.5em;
  font-family: "Raleway", sans-serif;
  font-size: 4.8rem;
  font-weight: 300;
  text-shadow: 2px 2px 1px #2e2e2e;
  letter-spacing: 2px;
}
.shop-img__text {
  padding: 1em 0;
}
.shop-img__btn {
  position: absolute;
  transform: translateX(-50%);
  bottom: 20%;
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 50px;
  width: 85%;
  box-shadow: 4px 4px 7px #2e2e2e;
  background: #00ffaa;
  color: #2e2e2e;
  text-transform: uppercase;
  cursor: pointer;
}
.shop-img__btn-link {
  text-decoration: none;
  color: #2e2e2e;
  font-size: 2.2rem;
}
.shop-img__btn::before {
  background-color: #0fe29c;
}
.shop-img hr {
  margin: 0 auto;
}

.faq__box {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.faq__box-title {
  margin-bottom: 2em;
  padding-bottom: 1em;
  text-align: center;
  font-size: 2.6rem;
  border-bottom: 1px solid #2e2e2e;
}
.faq__box-accordions {
  margin-bottom: 1.2em;
}
.faq__accordion {
  margin: 0.2em auto;
  width: 94%;
}
.faq__accordion-item {
  list-style: none;
  padding: 1em;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(240, 240, 240, 0.7);
}
.faq__accordion-label {
  display: flex;
  align-items: center;
  padding: 1em;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
}
.faq__accordion-label::before {
  content: "+";
  margin-right: 1em;
  font-size: 2.4rem;
  font-weight: 700;
}
.faq__accordion input[type=radio] {
  display: none;
}
.faq__accordion-content {
  color: #2e2e2e;
  padding: 0 0.6em;
  line-height: 2.2rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s;
}
input[type=radio]:checked + label + .faq__accordion-content {
  max-height: 460px;
}
.faq__accordion input[type=radio]:checked + label::before {
  content: "-";
}

.contact {
  position: relative;
  background-color: #eee;
  overflow: hidden;
}
.contact__form, .contact__form-top {
  display: flex;
  flex-direction: column;
}
.contact__form-label {
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.contact__form-input {
  margin-bottom: 2em;
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 8px;
  font-size: 1.6rem;
}
.contact__form-textarea {
  margin-bottom: 2em;
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 8px;
  font-size: 1.6rem;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  min-height: 150px;
}
.contact__form-btn {
  align-self: flex-end;
  padding: 1em;
  width: 100%;
  max-width: 300px;
  color: #fff;
  border: none;
  border-radius: 8px;
  background-color: #1755e7;
  cursor: pointer;
}
.contact__form-btn::before {
  background-color: #164dcc;
}

.footer {
  color: #fff;
  background-color: #2e2e2e;
}
.footer .wrapper {
  padding: 6em 2em 2em;
}
.footer__box {
  font-size: 1.4rem;
}
.footer__box-desktop {
  display: none;
}
.footer__box-title {
  margin-bottom: 1em;
  font-size: 3rem;
  text-transform: uppercase;
}
.footer__box-social {
  margin: 2em 0 1em;
}
.footer__box-link {
  padding: 0 0.3em;
  font-size: 3.6rem;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}
.footer__box-link:first-child {
  padding-left: 0;
}
.footer__box-link:hover {
  color: #eee;
}
.footer__bottom-text {
  padding: 2em;
  text-align: center;
}

@media (min-width: 576px) {
  .about__box {
    flex-direction: row;
    justify-content: space-between;
  }
  .about__box-text {
    width: 55%;
  }
  .about__box-text--right {
    text-align: right;
  }
  .about__box-img {
    width: 40%;
  }
  .about__box-img--right {
    order: 1;
  }
  .about__img {
    margin-bottom: 0;
    max-height: 300px;
  }
  .shop-img__text {
    font-size: 1.8rem;
  }
  .shop-img__btn {
    width: 72%;
  }
  .shop-img__btn-link {
    font-size: 2.8rem;
  }
}
@media (min-width: 768px) {
  .burger-btn {
    transform: scale(1.4);
    bottom: 36px;
    right: 26px;
  }
  .header__title {
    font-size: 6rem;
  }
  .header__text {
    font-size: 2rem;
  }
  .header__btn {
    font-size: 2.2rem;
  }
  .about__title {
    font-size: 2.2rem;
  }
  .about__text {
    font-size: 1.7rem;
  }
  .hero-img {
    padding: 25rem 2em;
  }
  .hero-img__text {
    font-size: 2.2rem;
  }
  .projects__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .projects__card {
    margin: 1em;
    width: 45%;
  }
  .shop-img {
    padding: 25rem 2em;
  }
  .shop-img__text {
    font-size: 2.4rem;
  }
  .shop-img__btn {
    width: 66%;
  }
  .shop-img__btn-link {
    font-size: 3.6rem;
  }
  .faq__box {
    margin: 0 2em;
  }
  .faq__box-title {
    margin: 1.2em;
    font-size: 3.2rem;
  }
  .faq__accordion {
    margin: 0.4em auto;
    width: 100%;
  }
  .faq__accordion-label {
    font-size: 2.4rem;
  }
  .faq__accordion-label::before {
    font-size: 2.8rem;
  }
  .faq__accordion-content {
    font-size: 1.9rem;
    line-height: 3rem;
  }
}
@media (min-width: 992px) {
  .burger-btn {
    transform: scale(1.6);
    bottom: 52px;
    right: 42px;
  }
  .header {
    background-image: linear-gradient(45deg, rgba(20, 105, 241, 0.35), rgba(42, 10, 184, 0.75)), url("../img/hero-img_1920.jpeg");
  }
  .header__title {
    font-size: 8rem;
  }
  .nav__item {
    font-size: 4.8rem;
  }
  .about__box {
    margin: 5em 0;
  }
  .about__box-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 2em;
  }
  .about__title {
    font-size: 3.2rem;
  }
  .about__text {
    font-size: 2.2rem;
  }
  .hero-img {
    padding: 30rem 2em;
    background-image: linear-gradient(45deg, rgba(20, 105, 241, 0.35), rgba(42, 10, 184, 0.75)) url("../img/hemp_1920.jpeg");
  }
  .hero-img__title {
    font-size: 6.6rem;
  }
  .hero-img__text {
    font-size: 2.6rem;
  }
  .hero-img hr {
    max-width: 1000px;
  }
  .shop-img {
    padding: 30rem 2em;
    background-image: linear-gradient(45deg, rgba(20, 105, 241, 0.35), rgba(42, 10, 184, 0.75)) url("../img/insoles_0916.jpeg");
  }
  .shop-img__title {
    font-size: 6.6rem;
  }
  .shop-img__text {
    font-size: 3rem;
  }
  .shop-img__btn {
    padding: 0.8em 1.6em;
    width: 50%;
  }
  .shop-img hr {
    max-width: 1000px;
  }
  .faq__box {
    margin: 0 3em;
  }
  .faq__accordion {
    margin: 0.8em auto;
  }
  .faq__accordion-label {
    font-size: 2.8rem;
  }
  .faq__accordion-label::before {
    font-size: 3.4rem;
  }
  .faq__accordion-content {
    font-size: 2.2rem;
    line-height: 3.4rem;
  }
}
@media (min-width: 1100px) {
  .projects__card {
    width: 30%;
  }
}/*# sourceMappingURL=main.css.map */